.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first {
}
