.container {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin: 20px;
}
